@import "../abstract/variables";

.header {
  width: 100%;
  padding-top: calc(var(--header-height) + 2rem);
  height: 64vh;
  background: linear-gradient(
    to right bottom,
    $gradient-very-light-red,
    $gradient-light-red
  );
  // clip-path: circle(70% at 70% 50%);
  &__img {
    position: relative;
    background-image: url(../../../images/bg-pattern-intro.svg);
    min-height: 76rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -18rem;
    background-position-y: -18rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 21%;
    right: 0;
    left: 0;
    text-align: center;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--title {
      color: $color-white;
      text-align: center;
      font-size: 2.1rem;
      font-weight: 600;
      @media screen and (max-width: 330px) {
        font-size: 1.8rem;
      }
    }

    &--description {
      color: $color-white;
      text-align: center;
      font-weight: 300;
      font-size: 1.125rem;
      margin-top: 1rem;
    }
  }

  &__btn-box {
    display: flex;
    margin-top: 3rem;
    & button {
      &:last-child {
        margin-left: 1rem;
      }
    }
  }
  @media screen and (max-width: 330px) {
    &__btn-box {
      flex-direction: column;
      & button {
        margin: 0.5rem;
        &:last-child {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
